{% extends "layout.html" %}
{% block content %}
    
	

  <div class="content-section">	
    <h3>Portfolio:</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Ticker symbol</th>
          <th scope="col">Quantity</th>
          <th scope="col">Purchase price</th>
          <th scope="col">Current price</th>
          <th scope="col">Profit/Loss</th>
        </tr>
      </thead>
      <tbody>
      {% for n in inv %}
        <tr>
          <th scope="row">{{n[0]}}</th>
          <td>{{n[1]}} shares</td>
          <td>${{n[2]}}</td>
          <td>${{n[3]}}</td>
          <td>${{n[4]}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>  
  </div>

	
{% endblock content %}
